.btn,.panel-title{text-transform:uppercase}
.btn,.search{text-align:center}
body,html{padding:0;margin:0;height:100%;font-family:'Open Sans',sans-serif;background:#F2F2F2}
.panel-title{padding:8px 20px;margin:0;font-size:14px;font-weight:200;color:#FFF;background:#222}
.panel-content{padding:20px}
.btn{display:inline-block;border:2px solid transparent;border-radius:4px;padding:0 13px;font-family:'Titillium Web',sans-serif;font-size:.9em;font-weight:600;text-shadow:none;line-height:28px;text-decoration:none;background:#CCC;color:#555;cursor:pointer;outline:0;-webkit-transition:background .2s;transition:background .2s}
.app,.field,.main{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.btn-primary{background:#1caad9;color:#fff}
.btn-primary:hover{background:#1687ac}
.btn[disabled],.btn[disabled]:hover{color:#ccc;background:#e7e7e7;cursor:default}
.field{border-bottom:1px solid #444;padding:8px 0}
.field-label{-webkit-box-flex:0;-webkit-flex:0 0 40%;-ms-flex:0 0 40%;flex:0 0 40%;font-size:14px}
.field-content,.main{-webkit-box-flex:1;-webkit-flex:auto;-ms-flex:auto;flex:auto}
.options a,.search label{font-size:13px}
.app{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;width:100%;height:100%;background:#333}
.search{-webkit-box-flex:0;-webkit-flex:none;-ms-flex:none;flex:none;padding:10px;background:#fff}
.search .text{width:30em;padding:4px}
.search button{padding:4px}
.viewer{-webkit-box-flex:1;-webkit-flex:auto;-ms-flex:auto;flex:auto;position:relative;overflow:hidden;background:url(../assets/checker.png) center center #fff}
.viewer .loader,.viewer iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}
.viewer .loader{background:0 0;opacity:0;pointer-events:none}
.viewer .loader.active{background:#fff;opacity:1;pointer-events:auto}
.options{box-sizing:border-box;-webkit-box-flex:0;-webkit-flex:none;-ms-flex:none;flex:none;width:360px;background:#333;color:#FFF;pointer-events:none;opacity:.5;overflow:auto}
.options.active{pointer-events:auto;opacity:1}
.options a{color:#1CAAD9}
.objects{font-size:12px}
.objects ul{margin:0;padding:0 0 0 10px;list-style:none}
.objects li{margin:0;cursor:pointer;line-height:24px}
.hidden{color:#CCC;text-decoration:line-through}