.sidebar {
    flex: 0 0 300px;
    overflow: auto;
    background: #fff;
    margin-right: 40px;
    border-radius: 6px;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15), 0 3px 15px rgba(0, 0, 0, 0.15);
}