body {
    background: #f2f2f2;
    font-family: sans-serif;
}

iframe {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 61.8%;
    height: 100%;
    border: 0;
}

.options,
.select {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    z-index: 1;
}
.select {
    bottom: 20px;
}
    .options li {
        display: inline-block;
        margin: 0 10px;
        width: 40px;
        height: 40px;
        border: 4px solid transparent;
        border-radius: 50%;
        text-indent: -1000px;
        overflow: hidden;
        cursor: pointer;
    }

    .options li.selected {
        border: 4px solid white;
    }
    .options li.lightblue {
        background: #70C0E7;
    }
    .options li.green {
        background: #80B845;
    }
    .options li.red {
        background: #C74334;
    }
    .options li.blue {
        background: #2C4463;
    }
