body {
    background: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
}

.instructions {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 14px;
    color: #888;
}

h2 {
    margin: 0 0 10px 0;
    text-align: right;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

#api-frame {
    display: block;
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    border: 0;
}

.about {
    box-sizing: border-box;
    height: 40px;
    padding: 14px;
}

.share-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}
.fb_iframe_widget span {
    vertical-align: baseline !important;
}

.options {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 1;
}
    .options ul {
        margin: 0 0 30px 0;
        padding: 0;
    }
    .options li {
        position: relative;
        display: inline-block;
        list-style: none;
        margin: 0 0 0 10px;
        padding: 0;
        cursor: pointer;
    }

    .options li.selected:before {
        border: 2px solid rgba(0,0,0,.2);
    }
    .options li:before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid transparent;
    }
    .options li.selected:after {
        content: '';
        position: absolute;
        display: block;
        top: 12px;
        left: 12px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 0 1px #555;
    }

    .options li.option_bracelet_rubberblue:before {
        background: #00B4FE;
    }
    .options li.option_bracelet_rubberwhite:before {
        background: #fff;
    }
    .options li.option_bracelet_cuir:before {
        background: #273137;
    }

    .options li.option_coque_goldgloss:before {
        background: #ffcd3b;
    }
    .options li.option_coque_silverrough:before {
        background: #cccccc;
    }
    .options li.option_coque_silverglossy:before {
        background: #888888;
    }

ul.share-buttons{
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    list-style: none;
    padding: 0;
}

ul.share-buttons li{
    display: inline;
}
